# Hands-On Pertemuan 10: Implementasi NoSQL Database - MongoDB

---


### 1. Menghubungkan ke Database MongoDB
- **Tugas 1**: Pastikan MongoDB telah terpasang dan berjalan. Hubungkan ke MongoDB lokal.

In [ ]:
!pip install pymongo

Requirement already satisfied: pymongo in /usr/local/lib/python3.10/dist-packages (4.10.1)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.10/dist-packages (from pymongo) (2.7.0)

In [ ]:
from pymongo import MongoClient

# Inisialisasi client dan koneksi ke database
client = MongoClient("mongodb+srv://zharifanurmajidah:OMi5scGA4hZ4z8FS@cluster0.pmorm.mongodb.net/")
db = client['Company']
collection = db['Employees']

# Contoh untuk memastikan koneksi
print('Connected to MongoDB')

Connected to MongoDB

### 2. Operasi CRUD Dasar
- **Tugas 2**: Insert, Update, dan Delete data pada koleksi `employees`.

In [ ]:
# Contoh Insert Data
employees_data = {
    'name': 'Alice',
    'department': 'Finance',
    'age': 29,
    'salary': 4500
}
collection.insert_one(employees_data)
print('Data employees inserted')

Data employees inserted

In [ ]:
# TUGAS Insert beberapa data tambahan, lakukan update, serta delete data

# INSERT DATA TAMBAHAN
add_employees = [
    {'name': 'Juye', 'department': 'HR', 'age': 35, 'salary': 5000}, {'name': 'Zharifa', 'department': 'IT', 'age': 26, 'salary': 5500},
    {'name': 'Meily', 'department': 'Marketing', 'age': 30, 'salary': 4800},  {'name': 'Atul', 'department': 'Marketing', 'age': 23, 'salary': 5000},
    {'name': 'Wiyandra', 'department': 'IT', 'age': 32, 'salary': 7000}, {'name': 'Meily', 'department': 'Marketing', 'age': 30, 'salary': 5000},
    {'name': 'Gema', 'department': 'Marketing', 'age': 30, 'salary': 5000}, {'name': 'Resnu', 'department': 'IT', 'age': 30, 'salary': 5500},
    {'name': 'Dila', 'department': 'HR', 'age': 30, 'salary': 5000}, {'name': 'Adam', 'department': 'HR', 'age': 30, 'salary': 6000},
    {'name': 'Alex', 'department': 'IT', 'age': 24, 'salary': 5200}, {'name': 'Nadia', 'department': 'Marketing', 'age': 22, 'salary': 4600},
    {'name': 'Samuel', 'department': 'HR', 'age': 32, 'salary': 5100}, {'name': 'Fiona', 'department': 'Finance', 'age': 31, 'salary': 4800},
    {'name': 'Luke', 'department': 'Finance', 'age': 23, 'salary': 4700}, {'name': 'Tom', 'department': 'Finance', 'age': 33, 'salary': 5000},
    {'name': 'Nina', 'department': 'IT', 'age': 25, 'salary': 5300}, {'name': 'Olivia', 'department': 'IT', 'age': 27, 'salary': 5400},
    {'name': 'Jake', 'department': 'HR', 'age': 30, 'salary': 5200}, {'name': 'Lily', 'department': 'Marketing', 'age': 29, 'salary': 4500},
    {'name': 'Mason', 'department': 'Finance', 'age': 34, 'salary': 4900}, {'name': 'Sofie', 'department': 'Finance', 'age': 28, 'salary': 4600},
    {'name': 'Lucas', 'department': 'IT', 'age': 32, 'salary': 5600}, {'name': 'Emma', 'department': 'Marketing', 'age': 22, 'salary': 4700},
    {'name': 'Henry', 'department': 'HR', 'age': 33, 'salary': 5300}, {'name': 'Mia', 'department': 'HR', 'age': 28, 'salary': 5100},
    {'name': 'Kayla', 'department': 'Marketing', 'age': 30, 'salary': 4900}, {'name': 'Ava', 'department': 'IT', 'age': 29, 'salary': 5500},
    {'name': 'Ella', 'department': 'Finance', 'age': 26, 'salary': 4900}, {'name': 'Ryan', 'department': 'HR', 'age': 31, 'salary': 5200},
    {'name': 'Noah', 'department': 'Finance', 'age': 35, 'salary': 5000}, {'name': 'Isabella', 'department': 'IT', 'age': 30, 'salary': 5700},
    {'name': 'Liam', 'department': 'HR', 'age': 34, 'salary': 5500}, {'name': 'Charlotte', 'department': 'Marketing', 'age': 32, 'salary': 4600},
    {'name': 'Ethan', 'department': 'Finance', 'age': 29, 'salary': 4800}, {'name': 'Zoe', 'department': 'IT', 'age': 28, 'salary': 5400}
]
# Menyisipkan data tambahan
collection.insert_many(add_employees)
print('Add data inserted')

Add data inserted

In [ ]:
# Update nama dari "Alice" menjadi "Alicia"
collection.update_one(
    {'name': 'Alice'},       # Filter: mencari data dengan nama "Alice"
    {'$set': {'name': 'Anisa'}}  # Update: mengganti nama menjadi "Alicia"
)
print('Data updated for Name Alice')


# Menambah gaji sebesar 500 untuk semua karyawan di departemen IT
collection.update_many(
    {'department': 'IT'},
    {'$inc': {'salary': 500}}
)
print('Data updated for department IT')

Data updated for Name Alice
Data updated for department IT

In [ ]:
# Menghapus data karyawan dengan nama "Bob"
collection.delete_one({'name': 'Meily'})
print('Data deleted for Meily')

Data deleted for Meily

In [ ]:
# Contoh Query Data
for employee in collection.find():
    print(employee)

{'_id': ObjectId('6722431a0cb17894e559c012'), 'name': 'Anisa', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'_id': ObjectId('6722431e0cb17894e559c013'), 'name': 'Juye', 'department': 'HR', 'age': 35, 'salary': 5000}
{'_id': ObjectId('6722431e0cb17894e559c014'), 'name': 'Zharifa', 'department': 'IT', 'age': 26, 'salary': 6000}
{'_id': ObjectId('6722431e0cb17894e559c016'), 'name': 'Atul', 'department': 'Marketing', 'age': 23, 'salary': 5000}
{'_id': ObjectId('6722431e0cb17894e559c017'), 'name': 'Wiyandra', 'department': 'IT', 'age': 32, 'salary': 7500}
{'_id': ObjectId('6722431e0cb17894e559c018'), 'name': 'Meily', 'department': 'Marketing', 'age': 30, 'salary': 5000}
{'_id': ObjectId('6722431e0cb17894e559c019'), 'name': 'Gema', 'department': 'Marketing', 'age': 30, 'salary': 5000}
{'_id': ObjectId('6722431e0cb17894e559c01a'), 'name': 'Resnu', 'department': 'IT', 'age': 30, 'salary': 6000}
{'_id': ObjectId('6722431e0cb17894e559c01b'), 'name': 'Dila', 'department': 'HR', 'age': 30, 'salary': 5000}
{'_id': ObjectId('6722431e0cb17894e559c01c'), 'name': 'Adam', 'department': 'HR', 'age': 30, 'salary': 6000}
{'_id': ObjectId('6722431e0cb17894e559c01d'), 'name': 'Alex', 'department': 'IT', 'age': 24, 'salary': 5700}
{'_id': ObjectId('6722431e0cb17894e559c01e'), 'name': 'Nadia', 'department': 'Marketing', 'age': 22, 'salary': 4600}
{'_id': ObjectId('6722431e0cb17894e559c01f'), 'name': 'Samuel', 'department': 'HR', 'age': 32, 'salary': 5100}
{'_id': ObjectId('6722431e0cb17894e559c020'), 'name': 'Fiona', 'department': 'Finance', 'age': 31, 'salary': 4800}
{'_id': ObjectId('6722431e0cb17894e559c021'), 'name': 'Luke', 'department': 'Finance', 'age': 23, 'salary': 4700}
{'_id': ObjectId('6722431e0cb17894e559c022'), 'name': 'Tom', 'department': 'Finance', 'age': 33, 'salary': 5000}
{'_id': ObjectId('6722431e0cb17894e559c023'), 'name': 'Nina', 'department': 'IT', 'age': 25, 'salary': 5800}
{'_id': ObjectId('6722431e0cb17894e559c024'), 'name': 'Olivia', 'department': 'IT', 'age': 27, 'salary': 5900}
{'_id': ObjectId('6722431e0cb17894e559c025'), 'name': 'Jake', 'department': 'HR', 'age': 30, 'salary': 5200}
{'_id': ObjectId('6722431e0cb17894e559c026'), 'name': 'Lily', 'department': 'Marketing', 'age': 29, 'salary': 4500}
{'_id': ObjectId('6722431e0cb17894e559c027'), 'name': 'Mason', 'department': 'Finance', 'age': 34, 'salary': 4900}
{'_id': ObjectId('6722431e0cb17894e559c028'), 'name': 'Sofie', 'department': 'Finance', 'age': 28, 'salary': 4600}
{'_id': ObjectId('6722431e0cb17894e559c029'), 'name': 'Lucas', 'department': 'IT', 'age': 32, 'salary': 6100}
{'_id': ObjectId('6722431e0cb17894e559c02a'), 'name': 'Emma', 'department': 'Marketing', 'age': 22, 'salary': 4700}
{'_id': ObjectId('6722431e0cb17894e559c02b'), 'name': 'Henry', 'department': 'HR', 'age': 33, 'salary': 5300}
{'_id': ObjectId('6722431e0cb17894e559c02c'), 'name': 'Mia', 'department': 'HR', 'age': 28, 'salary': 5100}
{'_id': ObjectId('6722431e0cb17894e559c02d'), 'name': 'Kayla', 'department': 'Marketing', 'age': 30, 'salary': 4900}
{'_id': ObjectId('6722431e0cb17894e559c02e'), 'name': 'Ava', 'department': 'IT', 'age': 29, 'salary': 6000}
{'_id': ObjectId('6722431e0cb17894e559c02f'), 'name': 'Ella', 'department': 'Finance', 'age': 26, 'salary': 4900}
{'_id': ObjectId('6722431e0cb17894e559c030'), 'name': 'Ryan', 'department': 'HR', 'age': 31, 'salary': 5200}
{'_id': ObjectId('6722431e0cb17894e559c031'), 'name': 'Noah', 'department': 'Finance', 'age': 35, 'salary': 5000}
{'_id': ObjectId('6722431e0cb17894e559c032'), 'name': 'Isabella', 'department': 'IT', 'age': 30, 'salary': 6200}
{'_id': ObjectId('6722431e0cb17894e559c033'), 'name': 'Liam', 'department': 'HR', 'age': 34, 'salary': 5500}
{'_id': ObjectId('6722431e0cb17894e559c034'), 'name': 'Charlotte', 'department': 'Marketing', 'age': 32, 'salary': 4600}
{'_id': ObjectId('6722431e0cb17894e559c035'), 'name': 'Ethan', 'department': 'Finance', 'age': 29, 'salary': 4800}
{'_id': ObjectId('6722431e0cb17894e559c036'), 'name': 'Zoe', 'department': 'IT', 'age': 28, 'salary': 5900}

### 3. Query Lebih Kompleks Menggunakan Aggregation
- **Tugas 3**: Terapkan aggregation untuk menghitung rata-rata gaji per departemen.

In [ ]:
# Query Aggregation untuk mencari rata-rata gaji per departemen
pipeline = [
    {'$group': {'_id': '$department', 'average_salary': {'$avg': '$salary'}}}
]
for result in collection.aggregate(pipeline):
    print(result)

{'_id': 'IT', 'average_salary': 6110.0}
{'_id': 'Finance', 'average_salary': 4800.0}
{'_id': 'HR', 'average_salary': 5266.666666666667}
{'_id': 'Marketing', 'average_salary': 4787.5}

### 4. Latihan Tambahan
- **Latihan 4.1**: Buatlah koleksi baru `products` dan masukkan data produk (minimal 10 produk).
- **Latihan 4.2**: Lakukan query untuk menemukan produk dengan harga di atas rata-rata.
- **Latihan 4.3**: Buatlah aggregation pipeline untuk menghitung total produk dalam setiap kategori.

In [ ]:
# LATIHAN 4.1
# Koleksi baru untuk products
product_collection = db['products']

# Data produk
products = [
    {'name': 'Laptop', 'category': 'Electronics', 'price': 1500},
    {'name': 'Smartphone', 'category': 'Electronics', 'price': 1200},
    {'name': 'Headphones', 'category': 'Electronics', 'price': 200},
    {'name': 'Keyboard', 'category': 'Accessories', 'price': 100},
    {'name': 'Mouse', 'category': 'Accessories', 'price': 120},
    {'name': 'Monitor', 'category': 'Electronics', 'price': 300},
    {'name': 'Chicken', 'category': 'Food', 'price': 25},
    {'name': 'Chair', 'category': 'Furniture', 'price': 120},
    {'name': 'Table', 'category': 'Furniture', 'price': 300},
    {'name': 'Mie', 'category': 'Food', 'price': 20}
]

# Menyisipkan data produk ke dalam koleksi products
product_collection.insert_many(products)
print('Data product inserted')

Data product inserted

In [ ]:
# LATIHAN 4.2
# Menghitung harga rata-rata
average_price = product_collection.aggregate([
    {'$group': {'_id': None, 'average_price': {'$avg': '$price'}}}
])
average_price = list(average_price)[0]['average_price']  # Mendapatkan harga rata-rata
print("Average Price : ", average_price)

# Query untuk produk dengan harga di atas rata-rata
expensive_products = product_collection.find({'price': {'$gt': average_price}})
# Menampilkan produk dengan harga di atas rata-rata
print('\nAbove average priced product:')
for product in expensive_products:
    print(product)

Average Price :  388.5

Above average priced product:
{'_id': ObjectId('672244970cb17894e559c041'), 'name': 'Laptop', 'category': 'Electronics', 'price': 1500}
{'_id': ObjectId('672244970cb17894e559c042'), 'name': 'Smartphone', 'category': 'Electronics', 'price': 1200}

In [ ]:
# LATIHAN 4.3
# Aggregation pipeline untuk menghitung jumlah produk per kategori
category_counts = product_collection.aggregate([
    {'$group': {'_id': '$category', 'total_products': {'$sum': 1}}}
])

# Menampilkan total produk dalam setiap kategori
print('Total products in each category:')
for category in category_counts:
    print(category)

Total products in each category:
{'_id': 'Food', 'total_products': 2}
{'_id': 'Furniture', 'total_products': 2}
{'_id': 'Electronics', 'total_products': 4}
{'_id': 'Accessories', 'total_products': 2}

### 5. Tugas
- **Tugas 1**: Cari 5 karyawan dengan gaji tertinggi dalam setiap departemen, gunakan query atau aggregation yang sesuai.
- **Tugas 2**: Buatlah skenario di mana Anda harus menghapus karyawan yang berusia di bawah 25 tahun dari database.
- **Tugas 3**: Buatlah laporan ringkas (menggunakan MongoDB query) yang menghitung total gaji karyawan di setiap departemen, serta rata-rata umur karyawan.

In [ ]:
# TUGAS 1
top_5_salary = [
    {'$sort': {'department': 1, 'salary': -1}},  # Sortir berdasarkan departemen dan gaji menurun
    {'$group': {'_id': '$department', 'top_employees': {'$push': {'name': '$name', 'salary': '$salary'}},}},
    {'$project': {'top_employees': {'$slice': ['$top_employees', 5]}}}  # Ambil 5 data teratas di setiap grup
]

top_5_employees = collection.aggregate(top_5_salary)

print("5 employees with the highest salary in each department :")
for department in top_5_employees:
    print(f"\nDepartemen {department['_id']}:")
    for employee in department['top_employees']:
        print(f"  Nama: {employee['name']}, Gaji: {employee['salary']}")

5 employees with the highest salary in each department :

Departemen Finance:
  Nama: Tom, Gaji: 5000
  Nama: Noah, Gaji: 5000
  Nama: Mason, Gaji: 4900
  Nama: Ella, Gaji: 4900
  Nama: Fiona, Gaji: 4800

Departemen IT:
  Nama: Wiyandra, Gaji: 7500
  Nama: Isabella, Gaji: 6200
  Nama: Lucas, Gaji: 6100
  Nama: Zharifa, Gaji: 6000
  Nama: Resnu, Gaji: 6000

Departemen HR:
  Nama: Adam, Gaji: 6000
  Nama: Liam, Gaji: 5500
  Nama: Henry, Gaji: 5300
  Nama: Jake, Gaji: 5200
  Nama: Ryan, Gaji: 5200

Departemen Marketing:
  Nama: Atul, Gaji: 5000
  Nama: Meily, Gaji: 5000
  Nama: Gema, Gaji: 5000
  Nama: Kayla, Gaji: 4900
  Nama: Emma, Gaji: 4700

In [ ]:
# TUGAS 2
# Menghapus karyawan yang berusia di bawah 25 tahun
collection.delete_many({'age': {'$lt': 25}})
print("Employees under the age of 25 have been removed")

Employees under the age of 25 have been removed

In [ ]:
# TUGAS 3
salary_age_report_pipeline = [
    {'$group': {'_id': '$department', 'total_salary': {'$sum': '$salary'}, 'average_age': {'$avg': '$age'}}}
]

salary_age_report = collection.aggregate(salary_age_report_pipeline)

print("Report on the total salary & average salary of employees in each department :")
for department in salary_age_report:
    print(f"\nDepartement {department['_id']}:")
    print(f"Total Salary : {department['total_salary']}")
    print(f"Average age: {department['average_age']}")

Report on the total salary & average salary of employees in each department :

Departement HR:
Total Salary : 47400
Average age: 31.444444444444443

Departement Marketing:
Total Salary : 24000
Average age: 30.2

Departement Finance:
Total Salary : 38500
Average age: 30.625

Departement IT:
Total Salary : 55400
Average age: 28.77777777777778