## Objectives:
- Dive into advanced query operations and aggregation pipelines in MongoDB.
- Enhance skills in filtering, grouping, and analyzing data with MongoDB.
- Master complex MongoDB operations for real-world data scenarios.

In [ ]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.7.0-py3-none-any.whl.metadata (5.8 kB)
Downloading pymongo-4.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.4/1.4 MB 18.6 MB/s eta 0:00:00
Downloading dnspython-2.7.0-py3-none-any.whl (313 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 313.6/313.6 kB 16.8 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.7.0 pymongo-4.10.1

### 1. Advanced CRUD Operations
- **Exercise 1**: Use `bulk_write` to insert, update, and delete multiple documents simultaneously.
- **Task 1**: Insert a dataset of `courses` where each course has multiple student enrollments, then display the data.

In [ ]:
from pymongo import MongoClient, InsertOne, UpdateOne, DeleteOne

# Establish client connection
client = MongoClient('mongodb+srv://zharifanurmajidah:OMi5scGA4hZ4z8FS@cluster0.pmorm.mongodb.net/')
db = client['university_db']
courses_collection = db['courses']

# Bulk insert of courses with student enrollments
operations = [
    InsertOne({'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}),
    InsertOne({'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}),
    InsertOne({'course': 'History 201', 'enrollments': 20, 'department': 'History'}),
    InsertOne({'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics'})
]
courses_collection.bulk_write(operations)
print('Courses inserted successfully.')

Courses inserted successfully.

In [ ]:
# TASK 1
# Bulk insert of courses with student enrollments
operations = [
    InsertOne({'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}),
    InsertOne({'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}),
    InsertOne({'course': 'History 201', 'enrollments': 20, 'department': 'History'}),
    InsertOne({'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics'}),
    InsertOne({'course': 'Biology 301', 'enrollments': 22, 'department': 'Biology'}),
    InsertOne({'course': 'Chemistry 205', 'enrollments': 24, 'department': 'Chemistry'}),
    InsertOne({'course': 'Environmental Science 110', 'enrollments': 27, 'department': 'Environmental Science'}),
    InsertOne({'course': 'Data Structures 201', 'enrollments': 35, 'department': 'Computer Science'}),
    InsertOne({'course': 'Psychology 150', 'enrollments': 29, 'department': 'Psychology'}),
    InsertOne({'course': 'Economics 203', 'enrollments': 30, 'department': 'Economics'}),
    InsertOne({'course': 'Art History 216', 'enrollments': 22, 'department': 'Art History'}),
    InsertOne({'course': 'Sociology 115', 'enrollments': 28, 'department': 'Sociology'}),
    InsertOne({'course': 'Political Science 312', 'enrollments': 25, 'department': 'Political Science'}),
    InsertOne({'course': 'Web Development 204', 'enrollments': 31, 'department': 'Computer Science'}),
    InsertOne({'course': 'Anthropology 220', 'enrollments': 17, 'department': 'Anthropology'}),
    InsertOne({'course': 'Statistics 211', 'enrollments': 24, 'department': 'Statistics'}),
    InsertOne({'course': 'Cybersecurity 315', 'enrollments': 26, 'department': 'Computer Science'}),
    InsertOne({'course': 'Software Engineering 303', 'enrollments': 34, 'department': 'Computer Science'})
]

courses_collection.bulk_write(operations)
print('New set of courses with unique departments and enrollments inserted successfully.')

New set of courses with unique departments and enrollments inserted successfully.

In [ ]:
# Bulk update of course enrollments
update_operations = [
    UpdateOne({'course': 'Biology 301'}, {'$set': {'enrollments': 25}}),
    UpdateOne({'course': 'Cybersecurity 315'}, {'$set': {'enrollments': 29}}),
    ]

courses_collection.bulk_write(update_operations)
print('Courses updated successfully.')

Courses updated successfully.

In [ ]:
# Bulk delete of courses
delete_operations = [
    DeleteOne({'course': 'Political Science 312'}),
    DeleteOne({'course': 'Art History 216'})
    ]

courses_collection.bulk_write(delete_operations)
print('Selected courses deleted successfully.')

Selected courses deleted successfully.

### 2. Complex Filtering and Querying
- **Exercise 2**: Filter courses with enrollments over 20 students.
- **Task 2**: Retrieve and display courses only from the 'Computer Science' or 'Mathematics' departments.

In [ ]:
# Query for courses with enrollments greater than 20
for course in courses_collection.find({'enrollments': {'$gt': 20}}):
    print(course)

{'_id': ObjectId('6732df79b153ce78ecd6505d'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('6732df79b153ce78ecd6505e'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}
{'_id': ObjectId('6732df7fb153ce78ecd65061'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('6732df7fb153ce78ecd65062'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}
{'_id': ObjectId('6732df7fb153ce78ecd65065'), 'course': 'Biology 301', 'enrollments': 25, 'department': 'Biology'}
{'_id': ObjectId('6732df7fb153ce78ecd65066'), 'course': 'Chemistry 205', 'enrollments': 26, 'department': 'Chemistry'}
{'_id': ObjectId('6732df7fb153ce78ecd65067'), 'course': 'Environmental Science 110', 'enrollments': 30, 'department': 'Environmental Science'}
{'_id': ObjectId('6732df7fb153ce78ecd65068'), 'course': 'Data Structures 201', 'enrollments': 35, 'department': 'Computer Science'}
{'_id': ObjectId('6732df7fb153ce78ecd65069'), 'course': 'Psychology 150', 'enrollments': 29, 'department': 'Psychology'}
{'_id': ObjectId('6732df7fb153ce78ecd6506a'), 'course': 'Economics 203', 'enrollments': 30, 'department': 'Economics'}
{'_id': ObjectId('6732df7fb153ce78ecd6506c'), 'course': 'Sociology 115', 'enrollments': 28, 'department': 'Sociology'}
{'_id': ObjectId('6732df7fb153ce78ecd6506e'), 'course': 'Web Development 204', 'enrollments': 31, 'department': 'Computer Science'}
{'_id': ObjectId('6732df7fb153ce78ecd65070'), 'course': 'Statistics 211', 'enrollments': 24, 'department': 'Statistics'}
{'_id': ObjectId('6732df7fb153ce78ecd65071'), 'course': 'Cybersecurity 315', 'enrollments': 29, 'department': 'Computer Science'}
{'_id': ObjectId('6732df7fb153ce78ecd65072'), 'course': 'Software Engineering 303', 'enrollments': 34, 'department': 'Computer Science'}

In [ ]:
# Query courses in Computer Science or Mathematics departments
for course in courses_collection.find({'department': {'$in': ['Computer Science', 'Mathematics']}}):
    print(course)

{'_id': ObjectId('6732df79b153ce78ecd6505d'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('6732df79b153ce78ecd6505e'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}
{'_id': ObjectId('6732df7fb153ce78ecd65061'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('6732df7fb153ce78ecd65062'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}
{'_id': ObjectId('6732df7fb153ce78ecd65068'), 'course': 'Data Structures 201', 'enrollments': 35, 'department': 'Computer Science'}
{'_id': ObjectId('6732df7fb153ce78ecd6506e'), 'course': 'Web Development 204', 'enrollments': 31, 'department': 'Computer Science'}
{'_id': ObjectId('6732df7fb153ce78ecd65071'), 'course': 'Cybersecurity 315', 'enrollments': 29, 'department': 'Computer Science'}
{'_id': ObjectId('6732df7fb153ce78ecd65072'), 'course': 'Software Engineering 303', 'enrollments': 34, 'department': 'Computer Science'}

### 3. Aggregation Framework for Data Analysis
- **Exercise 3**: Use aggregation to find the average enrollment per department.
- **Task 3**: Create an aggregation pipeline that finds the maximum enrollment for each department.

In [ ]:
# Average enrollment per department using aggregation
pipeline = [
    {'$group': {'_id': '$department', 'average_enrollment': {'$avg': '$enrollments'}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'Physics', 'average_enrollment': 15.0}
{'_id': 'Mathematics', 'average_enrollment': 30.0}
{'_id': 'Biology', 'average_enrollment': 25.0}
{'_id': 'Psychology', 'average_enrollment': 29.0}
{'_id': 'History', 'average_enrollment': 20.0}
{'_id': 'Environmental Science', 'average_enrollment': 30.0}
{'_id': 'Anthropology', 'average_enrollment': 17.0}
{'_id': 'Chemistry', 'average_enrollment': 26.0}
{'_id': 'Economics', 'average_enrollment': 30.0}
{'_id': 'Computer Science', 'average_enrollment': 29.833333333333332}
{'_id': 'Sociology', 'average_enrollment': 28.0}
{'_id': 'Statistics', 'average_enrollment': 24.0}

In [ ]:
# Maximum enrollment per department
pipeline = [
    {'$group': {'_id': '$department', 'max_enrollment': {'$max': '$enrollments'}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'Biology', 'max_enrollment': 25}
{'_id': 'Mathematics', 'max_enrollment': 30}
{'_id': 'Physics', 'max_enrollment': 15}
{'_id': 'Psychology', 'max_enrollment': 29}
{'_id': 'History', 'max_enrollment': 20}
{'_id': 'Environmental Science', 'max_enrollment': 30}
{'_id': 'Anthropology', 'max_enrollment': 17}
{'_id': 'Chemistry', 'max_enrollment': 26}
{'_id': 'Economics', 'max_enrollment': 30}
{'_id': 'Computer Science', 'max_enrollment': 35}
{'_id': 'Sociology', 'max_enrollment': 28}
{'_id': 'Statistics', 'max_enrollment': 24}

### 4. Data Transformation using $project and $addFields
- **Exercise 4**: Use `$project` to rename and only show fields: `course_name`, `department_name`, and `enrollments`.
- **Task 4**: Use `$addFields` to create a new field `enrollment_category` where enrollments > 20 are 'high' and others 'low'.

In [ ]:
# Projection to rename fields
pipeline = [
    {'$project': {'course_name': '$course', 'department_name': '$department', 'enrollments': 1}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': ObjectId('6732df79b153ce78ecd6505d'), 'enrollments': 30, 'course_name': 'Math 101', 'department_name': 'Mathematics'}
{'_id': ObjectId('6732df79b153ce78ecd6505e'), 'enrollments': 25, 'course_name': 'CS 102', 'department_name': 'Computer Science'}
{'_id': ObjectId('6732df79b153ce78ecd6505f'), 'enrollments': 20, 'course_name': 'History 201', 'department_name': 'History'}
{'_id': ObjectId('6732df79b153ce78ecd65060'), 'enrollments': 15, 'course_name': 'Physics 202', 'department_name': 'Physics'}
{'_id': ObjectId('6732df7fb153ce78ecd65061'), 'enrollments': 30, 'course_name': 'Math 101', 'department_name': 'Mathematics'}
{'_id': ObjectId('6732df7fb153ce78ecd65062'), 'enrollments': 25, 'course_name': 'CS 102', 'department_name': 'Computer Science'}
{'_id': ObjectId('6732df7fb153ce78ecd65063'), 'enrollments': 20, 'course_name': 'History 201', 'department_name': 'History'}
{'_id': ObjectId('6732df7fb153ce78ecd65064'), 'enrollments': 15, 'course_name': 'Physics 202', 'department_name': 'Physics'}
{'_id': ObjectId('6732df7fb153ce78ecd65065'), 'enrollments': 25, 'course_name': 'Biology 301', 'department_name': 'Biology'}
{'_id': ObjectId('6732df7fb153ce78ecd65066'), 'enrollments': 26, 'course_name': 'Chemistry 205', 'department_name': 'Chemistry'}
{'_id': ObjectId('6732df7fb153ce78ecd65067'), 'enrollments': 30, 'course_name': 'Environmental Science 110', 'department_name': 'Environmental Science'}
{'_id': ObjectId('6732df7fb153ce78ecd65068'), 'enrollments': 35, 'course_name': 'Data Structures 201', 'department_name': 'Computer Science'}
{'_id': ObjectId('6732df7fb153ce78ecd65069'), 'enrollments': 29, 'course_name': 'Psychology 150', 'department_name': 'Psychology'}
{'_id': ObjectId('6732df7fb153ce78ecd6506a'), 'enrollments': 30, 'course_name': 'Economics 203', 'department_name': 'Economics'}
{'_id': ObjectId('6732df7fb153ce78ecd6506c'), 'enrollments': 28, 'course_name': 'Sociology 115', 'department_name': 'Sociology'}
{'_id': ObjectId('6732df7fb153ce78ecd6506e'), 'enrollments': 31, 'course_name': 'Web Development 204', 'department_name': 'Computer Science'}
{'_id': ObjectId('6732df7fb153ce78ecd6506f'), 'enrollments': 17, 'course_name': 'Anthropology 220', 'department_name': 'Anthropology'}
{'_id': ObjectId('6732df7fb153ce78ecd65070'), 'enrollments': 24, 'course_name': 'Statistics 211', 'department_name': 'Statistics'}
{'_id': ObjectId('6732df7fb153ce78ecd65071'), 'enrollments': 29, 'course_name': 'Cybersecurity 315', 'department_name': 'Computer Science'}
{'_id': ObjectId('6732df7fb153ce78ecd65072'), 'enrollments': 34, 'course_name': 'Software Engineering 303', 'department_name': 'Computer Science'}

In [ ]:
# Adding enrollment category field based on enrollments
pipeline = [
    {'$addFields': {'enrollment_category': {'$cond': {'if': {'$gt': ['$enrollments', 20]}, 'then': 'high', 'else': 'low'}}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': ObjectId('6732df79b153ce78ecd6505d'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics', 'enrollment_category': 'high'}
{'_id': ObjectId('6732df79b153ce78ecd6505e'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science', 'enrollment_category': 'high'}
{'_id': ObjectId('6732df79b153ce78ecd6505f'), 'course': 'History 201', 'enrollments': 20, 'department': 'History', 'enrollment_category': 'low'}
{'_id': ObjectId('6732df79b153ce78ecd65060'), 'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics', 'enrollment_category': 'low'}
{'_id': ObjectId('6732df7fb153ce78ecd65061'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics', 'enrollment_category': 'high'}
{'_id': ObjectId('6732df7fb153ce78ecd65062'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science', 'enrollment_category': 'high'}
{'_id': ObjectId('6732df7fb153ce78ecd65063'), 'course': 'History 201', 'enrollments': 20, 'department': 'History', 'enrollment_category': 'low'}
{'_id': ObjectId('6732df7fb153ce78ecd65064'), 'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics', 'enrollment_category': 'low'}
{'_id': ObjectId('6732df7fb153ce78ecd65065'), 'course': 'Biology 301', 'enrollments': 25, 'department': 'Biology', 'enrollment_category': 'high'}
{'_id': ObjectId('6732df7fb153ce78ecd65066'), 'course': 'Chemistry 205', 'enrollments': 26, 'department': 'Chemistry', 'enrollment_category': 'high'}
{'_id': ObjectId('6732df7fb153ce78ecd65067'), 'course': 'Environmental Science 110', 'enrollments': 30, 'department': 'Environmental Science', 'enrollment_category': 'high'}
{'_id': ObjectId('6732df7fb153ce78ecd65068'), 'course': 'Data Structures 201', 'enrollments': 35, 'department': 'Computer Science', 'enrollment_category': 'high'}
{'_id': ObjectId('6732df7fb153ce78ecd65069'), 'course': 'Psychology 150', 'enrollments': 29, 'department': 'Psychology', 'enrollment_category': 'high'}
{'_id': ObjectId('6732df7fb153ce78ecd6506a'), 'course': 'Economics 203', 'enrollments': 30, 'department': 'Economics', 'enrollment_category': 'high'}
{'_id': ObjectId('6732df7fb153ce78ecd6506c'), 'course': 'Sociology 115', 'enrollments': 28, 'department': 'Sociology', 'enrollment_category': 'high'}
{'_id': ObjectId('6732df7fb153ce78ecd6506e'), 'course': 'Web Development 204', 'enrollments': 31, 'department': 'Computer Science', 'enrollment_category': 'high'}
{'_id': ObjectId('6732df7fb153ce78ecd6506f'), 'course': 'Anthropology 220', 'enrollments': 17, 'department': 'Anthropology', 'enrollment_category': 'low'}
{'_id': ObjectId('6732df7fb153ce78ecd65070'), 'course': 'Statistics 211', 'enrollments': 24, 'department': 'Statistics', 'enrollment_category': 'high'}
{'_id': ObjectId('6732df7fb153ce78ecd65071'), 'course': 'Cybersecurity 315', 'enrollments': 29, 'department': 'Computer Science', 'enrollment_category': 'high'}
{'_id': ObjectId('6732df7fb153ce78ecd65072'), 'course': 'Software Engineering 303', 'enrollments': 34, 'department': 'Computer Science', 'enrollment_category': 'high'}

### Homework for Students
- **Homework 1**: Perform an aggregation to get a count of courses per department.
- **Homework 2**: Use `$match` and `$group` together to filter and get only courses with enrollments over 25 in 'Computer Science'.
- **Homework 3**: Apply `$lookup` to join `courses` collection with `students` collection based on student enrollments.

In [ ]:
# HOMEWORK 1
pipeline = [
    {'$group': {'_id': '$department', 'course_count': {'$sum': 1}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'Environmental Science', 'course_count': 1}
{'_id': 'Economics', 'course_count': 1}
{'_id': 'Anthropology', 'course_count': 1}
{'_id': 'Computer Science', 'course_count': 6}
{'_id': 'Sociology', 'course_count': 1}
{'_id': 'Biology', 'course_count': 1}
{'_id': 'Physics', 'course_count': 2}
{'_id': 'Statistics', 'course_count': 1}
{'_id': 'Psychology', 'course_count': 1}
{'_id': 'Mathematics', 'course_count': 2}
{'_id': 'Chemistry', 'course_count': 1}
{'_id': 'History', 'course_count': 2}

In [ ]:
# HOMEWORK 2
pipeline = [
    {'$match': {'department': 'Computer Science', 'enrollments': {'$gt': 25}}},
    {'$group': {'_id': '$department', 'course_count': {'$sum': 1}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'Computer Science', 'course_count': 4}

In [ ]:
# HOMEWORK 3
from pymongo import MongoClient, InsertOne, UpdateOne, DeleteOne
client = MongoClient('mongodb+srv://zharifanurmajidah:OMi5scGA4hZ4z8FS@cluster0.pmorm.mongodb.net/')
db = client['university_db']
students_collection = db['students']
courses_collection = db['courses']

operations = [
    InsertOne({ "course": "Math 101", "enrollments": 30, "department": "Mathematics", "name": ["Dila", "Resnu"] }),
    InsertOne({ "course": "CS 102", "enrollments": 25, "department": "Computer Science", "name": ["Meily", "Ava"] }),
    InsertOne({ "course": "History 201", "enrollments": 20, "department": "History", "name": ["Amelia", "Benjamin", "Maria"] }),
    InsertOne({ "course": "Physics 202", "enrollments": 15, "department": "Physics", "name": ["Mia", "Ryan", "Ethan"] }),
    InsertOne({ "course": "Biology 301", "enrollments": 22, "department": "Biology", "name": ["Wiyandra", "Afiffatul"] }),
    InsertOne({ "course": "Chemistry 205", "enrollments": 24, "department": "Chemistry", "name": ["Debi", "Ida"] }),
    InsertOne({ "course": "Environmental Science 110", "enrollments": 27, "department": "Environmental Science", "name": ["Ferdi", "Moh"] }),
    InsertOne({ "course": "Data Structures 201", "enrollments": 35, "department": "Computer Science", "name": ["ELi", "Ilham"] }),
    InsertOne({ "course": "Psychology 150", "enrollments": 29, "department": "Psychology", "name": ["Nabila", "Akbar"] }),
    InsertOne({ "course": "Economics 203", "enrollments": 30, "department": "Economics", "name": ["Adam"] }),
    InsertOne({ "course": "Art History 216", "enrollments": 22, "department": "Art History", "name": ["Aiden", "Moh"] }),
    InsertOne({ "course": "Sociology 115", "enrollments": 28, "department": "Sociology", "name": ["Very"] }),
    InsertOne({ "course": "Political Science 312", "enrollments": 25, "department": "Political Science", "name": ["Nanda", "Razan"] }),
    InsertOne({ "course": "Web Development 204", "enrollments": 31, "department": "Computer Science", "name": ["Gema", "Rizqi"] }),
    InsertOne({ "course": "Anthropology 220", "enrollments": 17, "department": "Anthropology", "name": ["Dini", "Faiq"] }),
    InsertOne({ "course": "Statistics 211", "enrollments": 24, "department": "Statistics", "name": ["Naran", "Novia"] }),
    InsertOne({ "course": "Cybersecurity 315", "enrollments": 26, "department": "Computer Science", "name": ["Dika", "Zharifa"] }),
    InsertOne({ "course": "Software Engineering 303", "enrollments": 34, "department": "Computer Science", "name": ["Manda", "Ariel"] })
]
students_collection.bulk_write(operations)
print('New set of courses with unique departments and enrollments inserted successfully.')

New set of courses with unique departments and enrollments inserted successfully.

In [ ]:
pipeline = [
    {'$lookup': {'from': 'students','localField': 'enrollments','foreignField': 'student_id','as': 'student_enrollments'}}
]
for result in students_collection.aggregate(pipeline):
    print(result)

{'_id': ObjectId('6732e19ab153ce78ecd6508a'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics', 'name': ['Dila', 'Resnu'], 'student_enrollments': []}
{'_id': ObjectId('6732e19ab153ce78ecd6508b'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science', 'name': ['Meily', 'Ava'], 'student_enrollments': []}
{'_id': ObjectId('6732e19ab153ce78ecd6508c'), 'course': 'History 201', 'enrollments': 20, 'department': 'History', 'name': ['Amelia', 'Benjamin', 'Maria'], 'student_enrollments': []}
{'_id': ObjectId('6732e19ab153ce78ecd6508d'), 'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics', 'name': ['Mia', 'Ryan', 'Ethan'], 'student_enrollments': []}
{'_id': ObjectId('6732e19ab153ce78ecd6508e'), 'course': 'Biology 301', 'enrollments': 22, 'department': 'Biology', 'name': ['Wiyandra', 'Afiffatul'], 'student_enrollments': []}
{'_id': ObjectId('6732e19ab153ce78ecd6508f'), 'course': 'Chemistry 205', 'enrollments': 24, 'department': 'Chemistry', 'name': ['Debi', 'Ida'], 'student_enrollments': []}
{'_id': ObjectId('6732e19ab153ce78ecd65090'), 'course': 'Environmental Science 110', 'enrollments': 27, 'department': 'Environmental Science', 'name': ['Ferdi', 'Moh'], 'student_enrollments': []}
{'_id': ObjectId('6732e19ab153ce78ecd65091'), 'course': 'Data Structures 201', 'enrollments': 35, 'department': 'Computer Science', 'name': ['ELi', 'Ilham'], 'student_enrollments': []}
{'_id': ObjectId('6732e19ab153ce78ecd65092'), 'course': 'Psychology 150', 'enrollments': 29, 'department': 'Psychology', 'name': ['Nabila', 'Akbar'], 'student_enrollments': []}
{'_id': ObjectId('6732e19ab153ce78ecd65093'), 'course': 'Economics 203', 'enrollments': 30, 'department': 'Economics', 'name': ['Adam'], 'student_enrollments': []}
{'_id': ObjectId('6732e19ab153ce78ecd65094'), 'course': 'Art History 216', 'enrollments': 22, 'department': 'Art History', 'name': ['Aiden', 'Moh'], 'student_enrollments': []}
{'_id': ObjectId('6732e19ab153ce78ecd65095'), 'course': 'Sociology 115', 'enrollments': 28, 'department': 'Sociology', 'name': ['Very'], 'student_enrollments': []}
{'_id': ObjectId('6732e19ab153ce78ecd65096'), 'course': 'Political Science 312', 'enrollments': 25, 'department': 'Political Science', 'name': ['Nanda', 'Razan'], 'student_enrollments': []}
{'_id': ObjectId('6732e19ab153ce78ecd65097'), 'course': 'Web Development 204', 'enrollments': 31, 'department': 'Computer Science', 'name': ['Gema', 'Rizqi'], 'student_enrollments': []}
{'_id': ObjectId('6732e19ab153ce78ecd65098'), 'course': 'Anthropology 220', 'enrollments': 17, 'department': 'Anthropology', 'name': ['Dini', 'Faiq'], 'student_enrollments': []}
{'_id': ObjectId('6732e19ab153ce78ecd65099'), 'course': 'Statistics 211', 'enrollments': 24, 'department': 'Statistics', 'name': ['Naran', 'Novia'], 'student_enrollments': []}
{'_id': ObjectId('6732e19ab153ce78ecd6509a'), 'course': 'Cybersecurity 315', 'enrollments': 26, 'department': 'Computer Science', 'name': ['Dika', 'Zharifa'], 'student_enrollments': []}
{'_id': ObjectId('6732e19ab153ce78ecd6509b'), 'course': 'Software Engineering 303', 'enrollments': 34, 'department': 'Computer Science', 'name': ['Manda', 'Ariel'], 'student_enrollments': []}