In [1]:
pip install pyspark==3.4.1

Requirement already satisfied: pyspark==3.4.1 in c:\users\zhari\anaconda3\envs\prakbigdata\lib\site-packages (3.4.1)
Requirement already satisfied: py4j==0.10.9.7 in c:\users\zhari\anaconda3\envs\prakbigdata\lib\site-packages (from pyspark==3.4.1) (0.10.9.7)
Note: you may need to restart the kernel to use updated packages.

In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\zhari\anaconda3\envs\prakbigdata\lib\site-packages (2.2.3)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy>=1.23.2 in c:\users\zhari\anaconda3\envs\prakbigdata\lib\site-packages (from pandas) (2.1.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\zhari\anaconda3\envs\prakbigdata\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\zhari\anaconda3\envs\prakbigdata\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\zhari\anaconda3\envs\prakbigdata\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\zhari\anaconda3\envs\prakbigdata\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
pip install findspark

Requirement already satisfied: findspark in c:\users\zhari\anaconda3\envs\prakbigdata\lib\site-packages (2.0.1)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import findspark
findspark.init()

# Contoh membuat DataFrame sederhana dan operasi dasar
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('HandsOnPertemuan6').getOrCreate()

data = [('James', 'Sales', 3000),
        ('Michael', 'Sales', 4600),
        ('Robert', 'Sales', 4100),
        ('Maria', 'Finance', 3000)]
columns = ['EmployeeName', 'Department', 'Salary']

df = spark.createDataFrame(data, schema=columns)
df.show()

+------------+----------+------+
|EmployeeName|Department|Salary|
+------------+----------+------+
|       James|     Sales|  3000|
|     Michael|     Sales|  4600|
|      Robert|     Sales|  4100|
|       Maria|   Finance|  3000|
+------------+----------+------+

In [6]:
# Contoh operasi transformasi DataFrame
from pyspark.sql.functions import mean, max, sum, min

print ("Data Tabel Pegawai dan Salary")
df_select = df.select('EmployeeName', 'Salary')
df_select.show()

# Melakukan filter untuk menampilkan data dengan salary > 3000
print("Data Pegawai dengan Salary lebih dari 3000")
df_filter = df.filter(df['Salary'] > 3000)
df_filter.show()

# Menghitung rata-rata dari data salary untuk tiap departemen
print("Rata-rata Salary Untuk Tiap Departement")
df_groupBy = df.groupBy('Department').avg('Salary')
df_groupBy.show()

print("Ringkasan Data")
ringkasan_df = df.groupBy('Department').agg(
    mean("Salary").alias("Rata-rata salary"),
    max("Salary").alias("Salarry Tertinggi"),
    min("Salary").alias("Salary Terendah"),
    sum("Salary").alias("Total Salary")
)
ringkasan_df.show()

Data Tabel Pegawai dan Salary
+------------+------+
|EmployeeName|Salary|
+------------+------+
|       James|  3000|
|     Michael|  4600|
|      Robert|  4100|
|       Maria|  3000|
+------------+------+

Data Pegawai dengan Salary lebih dari 3000
+------------+----------+------+
|EmployeeName|Department|Salary|
+------------+----------+------+
|     Michael|     Sales|  4600|
|      Robert|     Sales|  4100|
+------------+----------+------+

Rata-rata Salary Untuk Tiap Departement
+----------+-----------+
|Department|avg(Salary)|
+----------+-----------+
|     Sales|     3900.0|
|   Finance|     3000.0|
+----------+-----------+

Ringkasan Data
+----------+----------------+-----------------+---------------+------------+
|Department|Rata-rata salary|Salarry Tertinggi|Salary Terendah|Total Salary|
+----------+----------------+-----------------+---------------+------------+
|     Sales|          3900.0|             4600|           3000|       11700|
|   Finance|          3000.0|             3000|           3000|        3000|
+----------+----------------+-----------------+---------------+------------+

In [5]:
# Contoh manipulasi tipe data kompleks
df = df.withColumn('SalaryBonus', df['Salary'] * 0.1)
df = df.withColumn('TotalCompensation', df['Salary'] + df['SalaryBonus'])
df.show()

+------------+----------+------+-----------+-----------------+
|EmployeeName|Department|Salary|SalaryBonus|TotalCompensation|
+------------+----------+------+-----------+-----------------+
|       James|     Sales|  3000|      300.0|           3300.0|
|     Michael|     Sales|  4600|      460.0|           5060.0|
|      Robert|     Sales|  4100|      410.0|           4510.0|
|       Maria|   Finance|  3000|      300.0|           3300.0|
+------------+----------+------+-----------+-----------------+

In [6]:
# Contoh menggunakan window functions
from pyspark.sql.window import Window
from pyspark.sql import functions as F

windowSpec = Window.partitionBy('Department').orderBy('Salary')
df.withColumn('Rank', F.rank().over(windowSpec)).show()

+------------+----------+------+-----------+-----------------+----+
|EmployeeName|Department|Salary|SalaryBonus|TotalCompensation|Rank|
+------------+----------+------+-----------+-----------------+----+
|       Maria|   Finance|  3000|      300.0|           3300.0|   1|
|       James|     Sales|  3000|      300.0|           3300.0|   1|
|      Robert|     Sales|  4100|      410.0|           4510.0|   2|
|     Michael|     Sales|  4600|      460.0|           5060.0|   3|
+------------+----------+------+-----------+-----------------+----+

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col
spark = SparkSession.builder.appName("DataKaggle").getOrCreate()

# Membaca file
file_path = "/C:/Users/zhari/Downloads/Salary_Data.csv"
df = spark.read.csv(file_path, header = True, inferSchema = True)
# Menampilkan data
df.show()
# Melihat skema atau struktur dari data
df.printSchema()

hitung_baris = df.count()
print("Jumlah Baris dalam data : ", hitung_baris)

print("\nSalary berdasarkan gender : ")
df.groupBy("Job Title").pivot("Gender").sum("Salary").show()

df_GajiPerTahun = df.withColumn("Gaji Pertahun", col("Salary") / col("Years of Experience"))
df_GajiPerTahun.show()

+---+------+---------------+--------------------+-------------------+------+
|Age|Gender|Education Level|           Job Title|Years of Experience|Salary|
+---+------+---------------+--------------------+-------------------+------+
| 32|  Male|     Bachelor's|   Software Engineer|                5.0| 90000|
| 28|Female|       Master's|        Data Analyst|                3.0| 65000|
| 45|  Male|            PhD|      Senior Manager|               15.0|150000|
| 36|Female|     Bachelor's|     Sales Associate|                7.0| 60000|
| 52|  Male|       Master's|            Director|               20.0|200000|
| 29|  Male|     Bachelor's|   Marketing Analyst|                2.0| 55000|
| 42|Female|       Master's|     Product Manager|               12.0|120000|
| 31|  Male|     Bachelor's|       Sales Manager|                4.0| 80000|
| 26|Female|     Bachelor's|Marketing Coordin...|                1.0| 45000|
| 38|  Male|            PhD|    Senior Scientist|               10.0|110000|
| 29|  Male|       Master's|  Software Developer|                3.0| 75000|
| 48|Female|     Bachelor's|          HR Manager|               18.0|140000|
| 35|  Male|     Bachelor's|   Financial Analyst|                6.0| 65000|
| 40|Female|       Master's|     Project Manager|               14.0|130000|
| 27|  Male|     Bachelor's|Customer Service Rep|                2.0| 40000|
| 44|  Male|     Bachelor's|  Operations Manager|               16.0|125000|
| 33|Female|       Master's|   Marketing Manager|                7.0| 90000|
| 39|  Male|            PhD|     Senior Engineer|               12.0|115000|
| 25|Female|     Bachelor's|    Data Entry Clerk|                0.0| 35000|
| 51|  Male|     Bachelor's|      Sales Director|               22.0|180000|
+---+------+---------------+--------------------+-------------------+------+
only showing top 20 rows

root
 |-- Age: integer (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Education Level: string (nullable = true)
 |-- Job Title: string (nullable = true)
 |-- Years of Experience: double (nullable = true)
 |-- Salary: integer (nullable = true)

Jumlah Baris dalam data :  375

Salary berdasarkan gender :
+--------------------+----+------+------+
|           Job Title|null|Female|  Male|
+--------------------+----+------+------+
|Digital Marketing...|null| 90000|  null|
|Senior Sales Manager|null|  null|265000|
|Senior Software A...|null|  null|120000|
|    Product Designer|null|  null| 90000|
|   Financial Manager|null|  null|140000|
|   Event Coordinator|null|105000|  null|
|   Financial Analyst|null|  null| 65000|
|Senior Product Ma...|null|120000|  null|
|Business Intellig...|null|  null| 85000|
|Junior Software E...|null|  null| 40000|
|Senior IT Consultant|null|  null|220000|
|     Sales Executive|null|  null|160000|
|   Senior Researcher|null|  null|150000|
|    Network Engineer|null|  null| 60000|
|     Sales Associate|null|100000|  null|
|Public Relations ...|null| 90000|  null|
|Junior Business A...|null|  null|400000|
|Junior Customer S...|null|  null| 35000|
|Junior Operations...|null|120000|135000|
|    VP of Operations|null|  null|190000|
+--------------------+----+------+------+
only showing top 20 rows

+---+------+---------------+--------------------+-------------------+------+------------------+
|Age|Gender|Education Level|           Job Title|Years of Experience|Salary|     Gaji Pertahun|
+---+------+---------------+--------------------+-------------------+------+------------------+
| 32|  Male|     Bachelor's|   Software Engineer|                5.0| 90000|           18000.0|
| 28|Female|       Master's|        Data Analyst|                3.0| 65000|21666.666666666668|
| 45|  Male|            PhD|      Senior Manager|               15.0|150000|           10000.0|
| 36|Female|     Bachelor's|     Sales Associate|                7.0| 60000|  8571.42857142857|
| 52|  Male|       Master's|            Director|               20.0|200000|           10000.0|
| 29|  Male|     Bachelor's|   Marketing Analyst|                2.0| 55000|           27500.0|
| 42|Female|       Master's|     Product Manager|               12.0|120000|           10000.0|
| 31|  Male|     Bachelor's|       Sales Manager|                4.0| 80000|           20000.0|
| 26|Female|     Bachelor's|Marketing Coordin...|                1.0| 45000|           45000.0|
| 38|  Male|            PhD|    Senior Scientist|               10.0|110000|           11000.0|
| 29|  Male|       Master's|  Software Developer|                3.0| 75000|           25000.0|
| 48|Female|     Bachelor's|          HR Manager|               18.0|140000| 7777.777777777777|
| 35|  Male|     Bachelor's|   Financial Analyst|                6.0| 65000|10833.333333333334|
| 40|Female|       Master's|     Project Manager|               14.0|130000| 9285.714285714286|
| 27|  Male|     Bachelor's|Customer Service Rep|                2.0| 40000|           20000.0|
| 44|  Male|     Bachelor's|  Operations Manager|               16.0|125000|            7812.5|
| 33|Female|       Master's|   Marketing Manager|                7.0| 90000|12857.142857142857|
| 39|  Male|            PhD|     Senior Engineer|               12.0|115000| 9583.333333333334|
| 25|Female|     Bachelor's|    Data Entry Clerk|                0.0| 35000|              null|
| 51|  Male|     Bachelor's|      Sales Director|               22.0|180000| 8181.818181818182|
+---+------+---------------+--------------------+-------------------+------+------------------+
only showing top 20 rows